p1-voting_app/node_modules/
p1-voting_app/reports/
p1-voting_app/tests_output/
p1-voting_app/npm-debug.log.*

time_tracking_app/node_modules/
time_tracking_app/reports/
time_tracking_app/tests_output/
time_tracking_app/npm-debug.log.*

advanced-components/components-cookbook/node_modules/

p4-forms/node_modules/

